[user]
	name = khan-debug
	email = 160346976+khan-debug@users.noreply.github.co
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
